{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('registro_css') }}
{% endblock %}


{% form_theme form 'form_theme.html.twig' %}
{% block body %}

	{# caso o usuário crie 5 contas em menos de 24 horas
    seu acesso é bloqueado por 24 horas 
    #}
	{% for limite in app.flashes('limite-criacao-de-conta') %}
		<div class="flash-noticek">
			{{ limite }}
		</div>

	{% endfor %}

	{% if alerta is defined %}
		<p style='color: red; font-size: 13px;'>{{ alerta }}</p>
		{% endif %}
		<h1>Formulário de Cadastro</h1>

		{{ form_start(form, {'attr': {'id' : 'formulario'  }}) }}

		{{ form_widget(form) }}
		{{ form_end(form) }}


		{% block javascripts %}
	{{ parent() }}
			{{ encore_entry_script_tags('registro_js') }}

		{% endblock %}
	{% endblock %}
